body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
  background-color: var(--back-color);
}

:root {
  --text-logo: #4d5ae5;
  --color-nav: #2e2f42;
  --color-text: #434455;
  --back-color: #ffffff;
  --back-second-color: #2e2f42;
  --color-footer: #f4f4fd;
  --color-button: #404bbf;
  --color-standard-border: #e7e9fc;
  --color-icon: #8e8f99;
}

/*! --------Header----------- */
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-logo);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.header-logo span {
  color: var(--color-nav);
}

.list {
  list-style: none;
}

.header {
  border: 1px solid var(--color-standard-border);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.header-logo {
  /* margin-right: 249px; */
  display: block;
  margin-left: 16px;
}

.header-menu {
  display: none;
  /* gap: 40px; */
}

/* .header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-nav);
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--color-button);
}  */

/* .current-mob {
  color: #404bbf;
  position: relative;
}

.current-mob::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--color-button);
  position: absolute;
  border-radius: 2px;
  left: 0;
  bottom: 8px;
  bottom: -1px;
} */

/*! --------------ADDRESS---------------- */
/* .header-add {
  font-style: normal;
  margin-left: auto;
} */

.header-add-list {
  display: none;
  /* gap: 40px; */
}

/* .header-add-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-add-link:hover,
.header-add-link:focus {
  color: var(--color-button);
} */

.mobile-open-btn {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  display: block;
  /* padding: 24px 15px; */
  height: 22px;
}

.open-icon {
  stroke: var(--back-second-color);
}

.mobile-menu {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: var(--back-color);
  padding: 80px 35px 40px 40px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
  overflow: auto;
  transform: translateX(0);
  transition: transform 250ms ease-in-out;
}

.mobile-menu.is-hidden {
  transform: translateX(100%);
}

.close-btn {
  width: 24px;
  position: absolute;
  height: 24px;
  display: block;
  border: 1px solid var(--back-second-color);
  /* margin-left: auto;
  margin-bottom: 32px; */
  border-radius: 50%;
  background-color: #e7e9fc;
  right: 24px;
  top: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.icon-close {
  fill: var(--back-second-color);
}

.mobile-menu-list {
  padding-left: 40px;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  color: var(--back-second-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 40/36 */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.number {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.11; /* 40/36 */
  text-transform: capitalize;
  letter-spacing: 0.02;
}

.text {
  color: var(--color-text);
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02;
}

.mobile-contacts {
  margin-top: auto;
}

.mobile-socials {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  gap: 44px;
}

.mobile-soc {
  /* width: 100%;
  height: 100%; */
  background-color: var(--text-logo);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px;
  width: 40px;
  height: 40px;
}

.mobile-menu-add {
  margin-bottom: 40px;
}

.mobile-socials-icon {
  fill: var(--color-footer);
}

/*! --------------HERO---------------- */
.hero {
  background-color: var(--back-second-color);
  padding: 112px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Mobile/Dark-bgmobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Mobile/Dark-bg-mobile2x.jpg);
  }
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--back-color);
  margin-right: auto;
  margin-left: auto;
  max-width: 496px;
  margin-bottom: 72px;
}

.hero-bt {
  background-color: var(--text-logo);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--back-color);
  cursor: pointer;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-bt:hover,
.hero-bt:focus {
  background-color: var(--color-button);
}

/*! --------------SECTION1---------------- */

.table {
  padding: 96px 0;
}

.table-icons {
  display: none;
  /* align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--color-footer);
  border-radius: 4px;
  margin-bottom: 8px; */
}

.table-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.table-item {
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
}

.table-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-nav);
  margin-bottom: 8px;
  text-align: center;
}

.table-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

/*! --------------SECTION2---------------- */

.work {
  display: none;
  /* padding-bottom: 120px; */
}

/* .work-list {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-nav);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: calc(100%-48px) / 3;
}

.work-im {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.work-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-nav);
  display: block;
  margin-bottom: 72px;
} */

/*! --------------SECTION3---------------- */

.team {
  background-color: var(--color-footer);
  padding: 96px 0;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  width: 100%;
}

.container-card {
  padding: 32px 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-nav);
  margin-bottom: 72px;
}
.team-item {
  background-color: var(--back-color);
  /* width: calc(100% - 72px) / 4; */

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-nav);
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icons-list-item {
  width: 40px;
  height: 40px;
}

.icons-link {
  width: 100%;
  height: 100%;
  background-color: var(--text-logo);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link:hover,
.icons-link:focus {
  background-color: var(--color-button);
}

.container-icon {
  fill: var(--color-footer);
}

/* !----------------CUSTOMERS----------- */
.customers {
  padding: 96px 0;
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-nav);
  margin-bottom: 72px;
}

.customers-link {
  border: 1px solid #8e8f99;
  color: var(--color-icon);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list {
  gap: 72px 16px;
  display: flex;
  flex-wrap: wrap;
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-icons {
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

/*! --------------FOOTER---------------- */
.footer {
  background-color: var(--back-second-color);
  padding: 97.5px 0;
}

.container-logo {
  max-width: 268px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-logo);
  display: block;
  margin-bottom: 16px;
}

.footer-logo span {
  color: var(--color-footer);
}

.footer-text {
  line-height: 1.5;
  color: var(--color-footer);
  letter-spacing: 0.02em;
  width: 100%;
}

.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

.footer-icons-container {
  gap: 72px;
  max-width: 208px;
  align-items: center;
  /* margin-left: 110px; */
}

.footer-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--back-color);
  margin-bottom: 16px;
  text-align: center;
  width: 100%;
}
.footer-list {
  display: flex;
  gap: 16px;
}

.footer-items {
  width: 40px;
  height: 40px;
}
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--text-logo);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
  fill: var(--color-footer);
}

.footer-icons:hover,
.footer-icons:focus {
  background-color: #31d0aa;
}

.email-box {
  gap: 72px;
  width: 100%;
  /* text-align: center; */
}

.email-title {
  font-weight: 500;
  text-align: center;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--back-color);
  margin-bottom: 16px;
}

.email-form {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  gap: 16px;
  /* gap: 24px; */
  width: 100%;
}

.email-form-label {
  width: 100%;
}

.input-email {
  border: 1px solid var(--back-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  /* width: 264px; */
  width: 100%;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--back-color);
  padding-left: 16px;
  /* display: inline-block; */
}

.input-email::placeholder {
  color: var(--back-color);
}

.form-bt {
  background-color: var(--text-logo);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--back-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 24px;
}

.form-bt:hover,
.form-bt:focus {
  background-color: var(--color-button);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.form-icon {
  margin-left: 16px;
}

/*! --------------PORTFOLIO---------------- */

/*! --------------PORTFOLIO HEADER---------------- */

.folio {
  border-bottom: 1px solid var(--color-standard-border);
}

.folio-container {
  padding: 0 15px;
  width: 1158px;
  margin: 0 auto;
  display: flex;
}

.folio-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.folio-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-logo);
  margin-right: 76px;
  display: block;
}

.folio-logo span {
  color: var(--color-nav);
}

.folio-menu {
  display: flex;
  gap: 40px;
}

.folio-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-nav);
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.folio-menu-link:hover,
.folio-menu-link:focus {
  color: var(--color-button);
}

.current {
  color: #404bbf;
  position: relative;
}

.folio-add {
  display: flex;
  font-style: normal;
  margin-left: 0;
}

.folio-add-list {
  display: flex;
  gap: 40px;
}

.folio-add-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.folio-add-link:hover,
.folio-add-link:focus {
  color: var(--color-button);
}

/*! --------------PORTFOLIO FILTERS---------------- */
.menu {
  padding-top: 96px;
  padding-bottom: 120px;
}

.menu-list-bt {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.menu-bt {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-logo);
  background-color: var(--color-footer);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--color-standard-border);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-bt:hover,
.menu-bt:focus {
  color: var(--back-color);
  background-color: var(--color-button);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*! --------------PORTFOLIO ROW---------------- */

.menu-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.menu-item {
  width: calc(100%-48px) / 3;
}

.menu-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.menu-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-nav);
  margin-bottom: 8px;
}
.menu-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.menu-cover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-footer);
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-block-cover {
  position: relative;
  overflow: hidden;
}

.menu-link:hover .menu-cover-text {
  transform: translateY(0%);
}

.menu-link:focus .menu-cover-text {
  transform: translateY(0%);
}

.menu-link:hover,
.menu-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-block {
  padding: 32px 16px;
  border: 1px solid var(--color-standard-border);
  border-top: none;
}
/* !---------------Modal-------- */
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.modal {
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  /* width: 408px; */
  width: calc(100% - 30px);
  min-height: 584px;
  /* top: 50%; */
  top: 10%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -10%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-bt {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-bt:hover,
.modal-bt:focus {
  background-color: #404bbf;
  border: none;
}

.modal-bt:hover,
.modal-bt:focus .modal-icon {
  fill: var(--back-color);
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-menu-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--back-second-color);
  line-height: 1.5;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  padding-right: 24px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--text-logo);
}

.modal-input:focus + .input-icon {
  fill: var(--text-logo);
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-icon);
  margin-bottom: 4px;
  display: block;
}

.modal-field {
  margin-bottom: 8px;
}

.comment {
  margin-bottom: 16px;
}

.input-icon {
  stroke: transparent;
  fill: var(--back-second-color);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-ic {
  position: relative;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-checkbox {
  margin-bottom: 24px;
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-icon);
  align-items: center;
}

.text-check {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text a {
  color: var(--text-logo);
  text-decoration: underline;
}

.input-check:checked + .check-text span {
  background-color: var(--color-button);
  border: none;
  border-radius: 2px;
  fill: var(--color-footer);
}

.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--back-color);
  padding: 16px 32px;
  background-color: var(--text-logo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--color-button);
}
